@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile button lines */
.m-btn-line {
  @apply w-full h-[2px] bg-gray-600 rounded-full cursor-pointer;
}

.hero {
  background-image: url("../public/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 50%;
  margin-right: 20px;
}

.cat-btn {
  @apply text-xl text-gray-700 px-5;
}
