@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mobile button lines */
.m-btn-line {
  @apply w-full h-[2px] bg-gray-600 rounded-full cursor-pointer;
}

.hero {
  background-image: url("../public/hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cat-btn {
  @apply text-xl text-gray-700 px-5;
}
